*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: black;
    color: white;
    font-size: 16px;
}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    align-items: center;
    gap: 10%;
& img{
    width: 250px;
}
& nav{
    & ul {
        display: grid;
        grid-template-columns: repeat(3,200px);
    }
}
}
section{
    background-image: radial-gradient(#7f3d9e,#6d00d9);
    height: 100vh;
    position: relative;
}


